<form [formGroup]="filters">
    <table class="uk-table uk-table-responsive uk-table-divider uk-table-hover uk-table-small uk-table-striped">
        <thead>
            <tr>
                <th class="uk-text-center@m">
                    <app-order [order]="grid.parameters.order" property="Id" text="Id" (changed)="load()"></app-order>
                    <app-input-text class="uk-text-center" formControlName="id" text="Id"></app-input-text>
                </th>
                <th>
                    <app-order [order]="grid.parameters.order" property="Title" text="Title" (changed)="load()"></app-order>
                    <app-input-text formControlName="title" text="Title" [autofocus]="true"></app-input-text>
                </th>
                <th>
                    <app-order [order]="grid.parameters.order" property="Url" text="Url" (changed)="load()"></app-order>
                    <app-input-text formControlName="url" text="Url"></app-input-text>
                </th>
                <th>
                    <app-order [order]="grid.parameters.order" property="Interval" text="Interval" (changed)="load()"></app-order>
                    <app-input-text formControlName="interval" text="Interval"></app-input-text>
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of grid.list">
                <td class="uk-text-center@m">{{ item?.id }}</td>
                <td>{{ item?.title }}</td>
                <td>{{ item?.url }}</td>
                <td>{{ item?.interval }}</td>
            </tr>
        </tbody>
    </table>
</form>
<app-pagination [page]="grid.parameters.page" [count]="this.grid.count" (changed)="load()"></app-pagination>
